* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #353f5a;
}

.header-container{
    display: flex;
    background: #e34242;
    height: 100px;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;

}
.card{
    width: 100px;
    height: 100px;
    background: blue;
    text-align: center;
}

header{
    width: 100%;
    height: 100px;
    background: #000;
}
.bucket{
    width: 200px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 50%;
    background: aquamarine;
    height: 200px;
    margin: 50px 50px;
}
.bucket img{
    display: block;
    height: 50%;
    top: 50%;

    margin: 0 auto;
}


.header-container img{
    height: 20px;
    margin: 25px 0 0 0;
    text-align: center;
    cursor: pointer;
}
.pannel-button{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    background: grey;
    align-items: center;
    justify-content: space-evenly;
    
}

.btn{
    width: 100px;
    height: 100px;
    background: wheat;
}
.btn img{
    height: 100px;
    cursor: pointer;
}
.adding{
    width: 100px;
    padding: 20px;
    background: white;
    margin-top: 5px;
    text-align: center;
}

