body {
    background: #131a23;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 20px;
}

.grid .block img {
    width: 50px;
}

.grid .block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    background: #333;
    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    gap: 10px;
    font-size: 14px;
    transition: all 0.5s ease;
    overflow: hidden;
    position: relative;
}

.grid .block:hover {
    background: #892786;
}

.overflow {
    position: absolute;
    left: 10px;
    top: -100%;
    transition: all 0.5s ease;
    transform: rotate(-180deg);
}

.grid .block:hover > .overflow {
    top: 10px;
    transform: rotate(0deg);
}

.grid .block:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid .block:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid .block:nth-child(4) {
    grid-row-start: 2;
    grid-row-end: 4;
}

.grid .block:nth-child(7) {
    grid-column-start: 2;
    grid-column-end: 5;
}

@media (max-width: 920px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid .block:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .grid .block:nth-child(4) {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .grid .block:nth-child(5) {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .grid .block:nth-child(6) {
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .grid .block:nth-child(7) {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid .block:nth-child(1) {
        grid-row-start: 0;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .grid .block:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .grid .block:nth-child(3) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .grid .block:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .grid .block:nth-child(6) {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .grid .block:nth-child(7) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

.form-inputs {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #333;
    border-radius: 5px;
    padding: 30px;
    width: 100%;
    max-width: 700px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 30px;
}

.form-inputs .block {
    position: relative;
}

.form-inputs .block:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.form-inputs input {
    border: none;
    background: #fff0;
    outline: none;
    color: #fff;
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    padding: 5px;
}

.form-inputs .block i {
    width: 100%;
    height: 2px;
    display: block;
    background: #892786;
    position: absolute;
    bottom: -3px;
    transition: all 0.5s ease;
}

.form-inputs .block input:focus ~ i,
.form-inputs .block input:valid ~ i,
.form-inputs .block input:hover ~ i {
    height: calc(100% + 6px);
    border-radius: 5px 5px 0 0;
}

.form-inputs .block input::placeholder {
    color: #fff;
}

.form-inputs textarea {
    border: none;
    background: #fff0;
    resize: none;
    outline: none;
    height: 25px;
    color: #fff;
    position: relative;
    z-index: 1;
    padding: 5px;
    width: 100%;
}

.form-inputs .block textarea:focus ~ i,
.form-inputs .block textarea:valid ~ i,
.form-inputs .block textarea:hover ~ i {
    height: calc(100% + 6px);
    border-radius: 5px 5px 0 0;
}

.form-inputs textarea::placeholder {
    color: #fff;
}

.form-inputs button {
    color: #fff;
    background: #892786;
    border-radius: 5px;
    border: none;
    width: max-content;
    padding: 8px 15px;
    cursor: pointer;
}

footer {
    background: #333;
    padding: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

footer .block {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    @media (max-width: 700px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
}

footer .block .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .block .content:nth-child(1) {
    margin-right: auto;

    @media (max-width: 700px) {
        margin: 0;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}

footer .block .content:nth-child(2) {
    margin: 0 auto;

    @media (max-width: 700px) {
        margin: 0;
    }
}

footer .block .content:nth-child(3) {
    margin-left: auto;

    @media (max-width: 1000px) {
        margin: 0;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    @media (max-width: 1000px) {
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

footer .block .content .title {
    font-size: 22px;
    width: max-content;
}

footer .block .content .title::after {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    margin-top: 5px;
    background: #892786;
    transition: all 0.5s ease;
}

footer .block .content:hover .title::after {
    width: 100%;
}

.image-block {
    display: flex;
    gap: 10px;
}

.image-block img {
    height: 50px;
    cursor: pointer;
    background: #222222;
    padding: 10px;
    border-radius: 8px;
    transform: translate(0);
    transition: all 0.5s ease;
}

.image-block img:hover {
    transform: translate(0, 5px);
}

footer .block .content .links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer .block .content .links a {
    color: #fff;
    text-decoration: none;
    transition: all 0.4s ease;
}

footer .block .content .links a:hover {
    color: #892786;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contacts .text {
    display: flex;
    gap: 5px;
}

.contacts .text img {
    height: 24px;
}
