html {
    scroll-behavior: smooth;
}

.nav {
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav > li {
    margin-left: 10px;
    margin-right: 10px;

}

.nav  li  a {
    text-decoration: none;
    color: gray;
}

.nav img {
    width: 90px;
    height: 50px;
    display: flex; 
    order: 1;
    margin-left: auto;
    cursor: pointer;
}

main li a:visited{
    color: red;
}

main li a:active{
    color: aqua;
}

main li:nth-child(4){
    text-transform: uppercase;
}

aside{
    width: 35px;
    border-radius: 10%;
    max-width: 150px;
    min-width: 100px;
    float: right;
    background-color: aliceblue;
}

#second-info h2{
    color: yellow;
    font-family: 'Playfair Display', serif;
}

footer {
    width: 100%;
    height: auto;
    background: rgb(25, 0, 68);
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    opacity: 0.85;
}
footer a {
    all: unset;
    color: aliceblue;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

footer address a:hover {
    border-bottom: 1px solid aliceblue;
}

footer address a:active{
    color: #666;
    all: unset;
}

/* .wrapper{
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 10px;
} */
